body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: #ffebcd;
}

.header {
  background-color: #ffcc80;
  color: black;
  text-align: center;
  border-radius: 8px;
  padding: 2em;
  margin: 0.5em 0;
}

.nav {
  background-color: #ffcc80;
  text-align: center;
  padding: 0.5em;
  border-radius: 8px;
  margin: 0;
  color: black;
}

h1, h2 {
  margin: 0;
}

.button {
  background-color: #ffcc80;
  border: none;
  color: black;
  font-family: sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.05s;
}

.button:hover {
  background-color: #ebb76a;
}

.link_button {
  background-color: #ffcc80;
  border: none;
  color: black;
  font-family: sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.05s;
}

.link_button:hover {
  background-color: #ebb76a;
}

.recipe {
  border: 1px solid grey;
  border-radius: 8px;
  margin: 1em;
  padding: 0.5em;
  background-color: white;
}

.recipe2 {
  border: 1px solid grey;
  border-radius: 8px;
  margin: 1em;
  padding: 0.5em;
  background-color: white;
  width: 50%
}

.review {
  border: 1px solid grey;
  border-radius: 8px;
  margin: 1em;
  padding: 0.2em 0.5em;
  background-color: white;
}

.info {
  border: 1.5px solid grey;
  border-radius: 8px;
  margin: 1em;
  padding: 0.5em;
  background-color: white;
  color: red;
}
