<!DOCTYPE html>
<html>

<head>
  <title>Reseptin muokkaus</title>
</head>

<body>
  <h1>Reseptin muokkaus</h1>
  <form action="/update_recipe" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" value="{{ recipe.title }}" />
    </p>
    <p>
      Ainekset: <br />
      <textarea name="ingredient" rows="8" cols="60">{{ recipe.ingredient }}</textarea>
    </p>
    <p>
      Valmistusohje: <br />
      <textarea name="instruction" rows="8" cols="60">{{ recipe.instruction }}</textarea>
    </p>
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
    <input type="submit" value="Päivitä reseptiä" />
  </form>
</body>

</html>
