{% extends "layout.html" %}

{% block title %}Etsi resepti{% endblock %}

{% block content %}
<h2>Etsi resepti</h2>
<form action="/find_recipe" method="get">
  <p>
    <label for="query">Hakusana:</label>
    <input type="text" name="query" id="query" value="{{ query }}">
  </p>
  <input type="submit" value="Lähetä">
</form>

{% if query %}
<h2>Hakutulokset</h2>
  {% for recipe in results %}
  <div class="recipe">
    <p>
      <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></li>
    </p>
  </div>
  {% endfor %}
{% endif %}
{% endblock %}
