{% extends "layout.html" %}

{% block title %}Reseptin kuva{% endblock %}

{% block content %}
<h2>{{ recipe.title }}</h2>
<h3>Reseptin kuvat</h3>

<h4>Lisää uusi kuva</h4>
<form action="/add_image" method="post" enctype="multipart/form-data">
  <p>
    Kuva: <input type="file" name="image" id="image" accept=".png" />
  </p>
  <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
  <input type="submit" value="Lähetä" />
</form>
<p>
  <a href="/recipe/{{ recipe.id }}">Takaisin reseptiin</a>
</p>
{% endblock %}
