<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
  <h1>Ruokareseptit</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, id on {{ session.user_id }}.
  </p>

  {% endif %}
  <form action="/login" method="post">
    <p>
      <a href="/login">Kirjaudu sisään</a>
      <a href="/register">Luo tunnus</a>
      <a href="/logout">Kirjaudu ulos</a>
    <p/>
    <p>
      <a href="/new_recipe">Lisää uusi resepti</a>
    </p>
  </form>

  <h2>Reseptit</h2>
  <ul>
    {% for recipe in recipes %}
    <li><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></li>
    {% endfor %}
  </ul>

</body>

</html>
