<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Ruokareseptit</h1>
  </div>

  <div class="nav">
    <p>
      <a href="/">Etusivu</a> |
      <a href="/find_recipe">Etsi resepti</a> |
    {% if session.username %}
      <a href="/new_recipe">Lisää uusi resepti</a> |
      <a href="/logout">Kirjaudu ulos</a>
    {% else %}
      <a href="/login">Kirjaudu sisään</a> |
      <a href="/register">Luo tunnus</a>
    {% endif %}
    </p>
  </div>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>.
  </p>
  {% endif %}

   {% for message in get_flashed_messages() %}
   <p class="info">
     {{ message }}
   </p>
   {% endfor %}

  {% block content %}{% endblock %}
</body>

</html>
