<!DOCTYPE html>
<html>

<head>
  <title>Uusi resepti</title>
</head>

<body>
  <h1>Uusi resepti</h1>
  <form action="/create_recipe" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="80" required/>
    </p>
    <p>
      Ainekset: <br />
      <textarea name="ingredient" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      Valmistusohje: <br />
      <textarea name="instruction" rows="8" cols="60" maxlength="2000" required></textarea>
    </p>
    <input type="submit" value="Luo resepti" />
  </form>
</body>

</html>
