{% extends "layout.html" %}

{% block title %}Uusi resepti{% endblock %}

{% block content %}
<h2>Uusi resepti</h2>
<form action="/create_recipe" method="post">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" name="title" id="title" maxlength="80" required/>
  </p>
  <p>
    <label for="ingredient">Ainekset:</label> <br />
    <textarea name="ingredient" id="ingredient" rows="8" cols="60" maxlength="1000" required></textarea>
  </p>
  <p>
    <label for="instruction">Valmistusohje:</label> <br />
    <textarea name="instruction" id="instruction" rows="8" cols="60" maxlength="2000" required></textarea>
  </p>
  {% for class in classes %}
  <p>
    <fieldset>
      <legend>{{ class }}:</legend>
      {% for option in classes[class] %}
      <input type="checkbox" name="classes" id="class{{ option }}" value="{{ class }}:{{ option }}" />
      <label for="class{{ option }}">{{ option }}</label>
      {% endfor %}
    </fieldset>
  {% endfor %}
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo resepti" />
</form>
{% endblock %}
