{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>

<p>
  Käyttäjällä on yhteensä
  {% if recipes | count == 1 %}
  <b>{{ recipes | count }}</b> resepti.
  {% else %}
  <b>{{ recipes | count }}</b> reseptiä.
  {% endif %}
  </br >
</p>
<p>
  Käyttäjä on saanut resepteihinsä yhteensä <b>{{ reviews_received | count }}</b>
  {% if reviews_received | count == 1 %}
  arvostelun, jonka keskiarvo on <b>{{ average_grade }}</b>.
  {% else %}
  arvostelua, joiden keskiarvo on <b>{{ average_grade }}</b>.
  {% endif %}
  </br >
</p>
<p>Käyttäjä on antanut yhteensä <b>{{ reviews_given | count }}</b>
  {% if reviews_given | count == 1 %}
  arvostelun
  {% else %}
   arvostelua
  {% endif %}
  sovelluksessa oleviin resepteihin.
  </br >
</p>

<h2>Reseptit</h2>
{% for recipe in recipes %}
<div class="recipe">
  <p>
    <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
  </p>
</div>
{% endfor %}

{% endblock %}
