{% extends "layout.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<h2>{{ recipe.title }}</h2>
<p> Julkaisija: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a></p>

{% if session.user_id == recipe.user_id %}
<p>
  <a href="/edit_recipe/{{ recipe.id }}">Muokkaa reseptiä</a> |
  <a href="/remove_recipe/{{ recipe.id }}">Poista resepti</a> |
  <a href="/images/{{ recipe.id }}">Kuvat</a>
</p>
{% endif %}

{% for image in images %}
  <img src="/image/{{ image.id }}" alt="Reseptin {{ recipe.title }} kuva" />
{% endfor %}

<div class="recipe">
  <h4>Ainekset:</h4>
  <p>
    {{ recipe.ingredient | show_lines }}
  </p>
  <h4>Valmistusohje:</h4>
  <p>
    {{ recipe.instruction | show_lines }}
  </p>
  {% if classes %}
  <h4>Luokat:</h4>
  {% for class in classes %}
  <ul>
    <li>{{ class.title }}: {{ class.value }}</li>
  </ul>
  {% endfor %}
  {% endif %}
</div>

<h3>Arvostelut</h3>
{% for review in reviews %}
  <div class="review">
    <p>
      <a href="/user/{{ review.user_id }}"><strong>{{ review.username }}</strong></a>: {{ review.grade }} / 5</br >
      {{ review.comment | show_lines }}
    </p>
  </div>
{% endfor %}

<h3>Uusi arvostelu</h3>
{% if session.username %}
<form action="/create_review" method="post">
  <p>
  <label for="comment">Kommentti:</label> <br />
    <textarea name="comment" id="comment" rows="8" cols="60" maxlength="500" required></textarea><br />
  <fieldset>
    <legend>Arvosana (1-5):</legend>
    <label><input type="radio" name="grade" id="grade_1" value="1" required/> 1</label>
    <label><input type="radio" name="grade" id="grade_2" value="2" /> 2</label>
    <label><input type="radio" name="grade" id="grade_3" value="3" /> 3</label>
    <label><input type="radio" name="grade" id="grade_4" value="4" /> 4</label>
    <label><input type="radio" name="grade" id="grade_5" value="5" /> 5</label>
  </fieldset>
  </p>
  <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä arvostelu" />
</form>
{% else %}
<p>Jos haluat jättää reseptiin arvostelun, ole hyvä ja <a href="/login">kirjaudu sisään</a> tai <a href="/register">luo tunnus</a>.</p>
{% endif %}
{% endblock %}
