<!DOCTYPE html>
<html>

<head>
  <title>{{ recipe.title }}</title>
</head>

<body>
  <h1>{{ recipe.title }}</h1>
  {% if session.user_id == recipe.user_id %}
  <p>
    <a href="/edit_recipe/{{ recipe.id }}">Muokkaa reseptiä</a>
    <a href="/remove_recipe/{{ recipe.id }}">Poista resepti</a>
  </p>
  {% endif %}
  <p>
  Ainekset:  {{ recipe.ingredient }}
  </p>
  <p>
  Valmistusohje: {{ recipe.instruction }}
  </p>
  <p>
  Reseptin julkaisija: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>
  </p>
  <p>
    <a href="/">Takaisin</a>
  </p>

</body>

</html>
